h1{
    color:aqua;
    text-align:center;
    font-family: 'Spicy Rice', cursive;
    font-size:60px;
}

body{
    background-color:black;
}
h2{
    color:orange;
    text-align:center;
    font-family: 'Patrick Hand', cursive;
    font-size:50px;
}
.lil baby{
    width:500px;
}